body {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    background-color: rgb(188, 201, 212);
}

.container-menu {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgb(121, 142, 161);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.345);
    border-radius: 10px;
}

.card {
    flex: 1 1 300px;
    padding: 20px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 0 15px rgb(24, 41, 56);
}

h1.menu{
    text-align: center;
    color: rgb(9, 62, 108);
    font-weight: 800;
}

hr.card-line {
    border: none;
    height: 3px;
    background-color: rgb(127, 174, 215);
}

h2.card-title {
    color: rgb(24, 72, 114);
    margin-top: 10px;
    margin-bottom: 0px;
}

a.card-link {
    display: block;
    background-color: rgba(24, 72, 114, 0.877);
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

a.card-link:hover {
    background-color: rgb(170, 198, 222);
    color: rgba(10, 64, 111, 0.877);
    box-shadow: 0 0 8px rgb(10, 59, 103);
}