<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu Principal</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1 class="menu">Menu Principal</h1>
    <div class="container-menu">
        <div class="card">
            <h2 class="card-title">🏭Montadoras</h2>
            <hr class="card-line">
            <a href="" class="card-link">Adicionar Nova Montadora</a><br>
            <a href="" class="card-link">Visualizar Montadoras</a><br>
            <a href="" class="card-link">Editar Montadoras</a><br>
        </div>
        <div class="card">
            <h2 class="card-title">🚙 Modelo</h2>
            <hr class="card-line">
            <a href="" class="card-link">Adicionar Nova Modelo</a><br>
            <a href="" class="card-link">Visualizar Modelos</a><br>
            <a href="" class="card-link">Editar Modelos</a><br>
        </div>
        <div class="card">
            <h2 class="card-title">🚘Versão</h2>
            <hr class="card-line">
            <a href="" class="card-link">Adicionar Nova Versão</a><br>
            <a href="" class="card-link">Visualizar Versões</a><br>
            <a href="" class="card-link">Editar Versões</a><br>
        </div>
        <div class="card">
            <h2 class="card-title">🗺️UF</h2>
            <hr class="card-line">
            <a href="" class="card-link">Adicionar Nova UF</a><br>
            <a href="" class="card-link">Visualizar UFs</a><br>
            <a href="" class="card-link">Editar UFs</a><br>
        </div>
        <div class="card">
            <h2 class="card-title">👤Clientes</h2>
            <hr class="card-line">
            <a href="" class="card-link">Adicionar Nova Cliente</a><br>
            <a href="" class="card-link">Visualizar Clientes</a><br>
            <a href="" class="card-link">Editar Clientes</a><br>
        </div>
        <div class="card">
            <h2 class="card-title">Operações Especiais</h2>
            <hr class="card-line">
            <a href="" class="card-link">Registrar Compra</a><br>
            <a href="" class="card-link">Relatórios</a><br>
        </div>
    </div>
</body>

</html>