body {
    background-color: rgb(181, 136, 122);
}

ul {
list-style: none;
text-align: center;
padding: 16px;
}

li {
    display: inline-block;
    padding: 10px;
}

a {
    color: rgb(88, 23, 23);
}

img#pikachu {
    width: 170px;
    height: 170px;
    border: 3px solid brown;
    border-radius: 150px;
}

.center {
    text-align: center;
}

