<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Listagem de Livros</title>
   <!-- Estilos CSS para a tabela -->
   <style>
       body {
           font-family: sans-serif;
           background-color: #f3f4f6;
           padding: 20px;
       }
       table {
           border-collapse: collapse;
           background-color: #ffffff;
           border: 1px solid #ddd;
       }
       th, td {
           text-align: left;
           padding: 12px;
           border: 1px solid #ddd;
       }
       th {
           background-color: #e2e2e2;
           font-weight: bold;
       }
   </style>
</head>
<body>
   <h1>Listagem de Livros</h1>
   <table>
       <thead>
           <tr>
               <th>Identificador</th>
               <th>Nome Livro</th>
               <th>Nome Autor</th>
           </tr>
       </thead>
       <tbody>
           {% for la in lstLA %}
           <tr>
               <td>{{ la.cod_livro }}</td>
               <td>{{ la.nome_livro }}</td>
               <td>{{ la.autor }}</td>
           </tr>
           {% endfor %}
       </tbody>
   </table>
   <h3>{{ msg }}</h3>
   <hr>
   [ <a href="/">Voltar ao Menu</a> ]
</body>
</html>
