/*padrões*/
body {
    background-color: rgb(34, 87, 134);
}

div {
    border-radius: 10px;
    text-align: center;
}

.corpo {
    width: 70%;
    margin: auto;
    background-color: rgb(226, 235, 243);
}

hr {
    margin: 0;
}

h1 {
    padding: 20px;
    background-color: rgb(84, 126, 168);
    margin: 0;
    text-align: left;
}

h2 {
    text-indent: 30px;
    padding: 10px;
    background-color: rgb(155, 184, 213);
    margin-top: 30px;
    text-align: left;
}

h3 {
    background-color: rgb(195, 215, 234);
    padding: 5px;
    text-indent: 40px;
    text-align: left;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
}

a {
    background-color: rgb(1, 24, 43);
    padding: 15px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

a:hover {
    background-color: rgb(81, 144, 199);
    padding: 15px;
    color: rgb(1, 24, 43);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 530;
}

form {
    text-align: center;
}

ul {
    display: block;
    list-style: none;
}

li {
    text-align: left;
}

input {
    background-color: rgb(190, 218, 242);
}

img {
    height: 150px;
}

/*específicos*/
/*index.html*/
h3#primeiro {
    background-color: rgb(195, 215, 234);
    padding: 5px;
    margin-top: 0px;
}

h2#qmsomos {
    margin-top: 0;
    padding: 10px;
    background-color: rgb(155, 184, 213);
}

a#ongs {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(1, 24, 43);
    padding: 15px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

a#ongs:hover {
    background-color: rgb(81, 144, 199);
    padding: 15px;
    color: rgb(1, 24, 43);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 530;
}

div#log {
    text-align: center;
}

p#tex {
    text-indent: 20px;
}
p#center{
    text-align: center;
}

/*cadastro*/
.reqsenha {
    width: 250px;
    margin: auto;
}